:root {
    padding: 0;
    margin: 0;

}

.heady {
    width: 160px;
    height: auto;
    display: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    margin-left: 1%;
}


body {
    background-color: #020d17;
    padding: 0;
    margin: 0;
    height: 100vh;
}


.bodie {
    background-color: #020d17;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.lp {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.dp {
    height: 150px;
    width: auto;
    flex: 1;
}

.container {
    flex: 4;
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 6px 6px 12px #cccccc,
        -6px -6px 12px #ffffff;
}

.blking {
    justify-items: center;
    width: 60px;
    height: auto;
    display: block;
}

.white {
    width: 100%;
    height: auto;
    display: none;
}


@media (max-width: 600px) {

    .lp {
        background-color: #020d17;
    }

    .container {
        height: 430px;
        flex-wrap: wrap;
    }

    .box {
        width: 30%;
        height: auto;
        padding: 15px;
        border-radius: 0px;
        background: #020d17;
        box-shadow: -5px 5px 12px #010509,
            5px -5px 12px #031525;
    }

    .dp {
        display: none;
    }

    header {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .heady {
        display: block;
    }

    .raj {
        color: #020d17;
        align-items: center;
    }

    .blking {
        display: none;
    }

    .white {
        display: block;
    }
}
